body {
	font-size: 15pt;
	min-width: 500px;
	max-width: 90%;
}

table {
	table-layout: fixed;
	width: 100%;
}

ul {
	padding: 10vmax;
	list-style: none;
}

li, td {
	padding: 2vmax;
}

.back:hover, #options li:hover {
	background-color: lightgray;
	cursor: pointer;
}
